/* Navbar CSS */
#navbar-brand {
  margin-left: 25px;
}

#navbar {
  height: 60px;
}

#nav-search-bar {
  margin-left: 25px;
  margin-right: 25px;
}

#nav-search-bar-container {
  width: 400px;
  margin-left: auto;
}

@media (max-width: 991px) {
  #nav-link {
    text-align: center;
  }
  #nav-search-bar {
    width: 80%;
  }
  #nav-search-bar-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

/* Landing page CSS */
.landing {
  background-image: url("../public/landing-page-picture.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing-content {
  color: white;
}

.landing-card-container {
  margin: 100px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .landing-card-container {
    flex-direction: column;
  }
}

#landing-card {
  margin: 25px;

  width: 400px;
  height: 450px;
}

#landing-card-image {
  height: 250px;
}

.landing-card-button-container {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Model pages CSS */

/* search bar and results list css */
.search-bar-container {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  padding-bottom: 10px;
}

.input-wrapper {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
}

input:focus {
  outline: none;
}

.results-list {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 8px #ddd;
  border-radius: 10px;
  margin-top: 0.5rem;
  max-height: 300px;
  overflow-y: scroll;
}

.search-result {
  padding: 10px, 20px;
}

.search-result:hover {
  background-color: #efefef;
}

/* end search bar css */

.model-search-area {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.model-dropdown-container {
  width: 500px;

  display: flex;
  justify-content: space-between;
}

#model-search-bar {
  margin-top: 30px;
  margin-bottom: 30px;

  width: 500px;
}

@media (max-width: 768px) {
  #model-search-bar {
    width: 300px;
  }

  .model-dropdown-container {
    flex-direction: column;
    width: 100%;
    height: 150px;
  }
}

#dropdown {
}

/* #instance-card-cell {
    display: flex;
    align-items: center;
    justify-content: center;
} */

#instance-card-container {
  margin-top: 50px;
}

/* Instance page CSS */
.instance-container {
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  border: 2px solid black;
  border-radius: 10px;
}

.instance-image {
  margin-top: 50px;
  margin-bottom: 50px;

  width: 700px;
  height: 525px;

  border-radius: 25px;
}
/* 
@media(max-width: 1200px) {
    .instance-image {
        width: 550px;
        height: 415px;
    }
} */

@media (max-width: 1200px) {
  .instance-container {
    margin-left: 50px;
    margin-right: 50px;
  }

  .instance-image {
    margin-left: 20px;
    margin-right: 20px;
    width: 80%;
    height: auto;
  }
}

.content-container {
  padding-top: 60px;
}

.related-cards-container {
  margin-left: 100px;
  margin-right: 100px;

  display: flex;
  justify-content: space-between;
}

/* Instance Card CSS */
#instance-card {
  width: 325px;
  height: 700px;
}

#instance-card-image {
  height: 250px;
}

.instance-card-button-container {
  margin-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* About Page CSS */

.member-card-container {
  margin-left: 50px;
  margin-right: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#member-card {
  margin-left: 10px;
  margin-right: 10px;

  width: 300px;
  height: 700px;
}

@media (max-width: 1400px) {
  #member-card {
    height: 800px;
  }
}

@media (max-width: 1200px) {
  .member-card-container {
    flex-direction: column;
  }
  #member-card {
    margin: 25px;
  }
}

#grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px;
}

.tool-card-container {
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 1200px) {
  .tool-card-container {
    margin-left: 0px;
    margin-right: 0px;
  }
}

#tool-card {
  width: 300px;
  height: 450px;
  padding: 10px;
}

#tool-card-text {
  display: flex;
  flex-direction: column-reverse;
  justify-content: "flex-end";
}

.data-sources-container {
  text-align: center;
}

.interesting-conclusion-container {
  margin-left: 100px;
  margin-right: 100px;
}

.button-container {
  margin-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-page-button {
  width: 300px;
  height: 100px;

  text-align: center;
}

/* Pagination CSS */
#total-pages-text {
  margin-bottom: 25px;
}

#page-button {
  color: rgb(46, 46, 46);
}

#page-button-active {
  color: white;
  background-color: rgb(122, 122, 122);
}

#page-button-disabled {
  color: rgb(46, 46, 46);
  background-color: rgb(190, 190, 190);
}

/* Google Maps */
.map-div {
  padding: 20px;
  width: 700px;
  height: 450px;
}

.map-container {
  height: 100%;
  width: 100%;
}

/* Visualizations */
#visualizations-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Provider Visualizations */
#provider-visualizations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#provider-line-break {
  width: 90%;
  color: grey;
  text-align: center;
}
